<html>
    <head>
            <title>
                <%= title %>
            </title>
    </head>

    <body>
        <h1> There was a problem </h1>

        <P> The Route Doesnot Exist </p>
    </body>

</html>



